@media (prefers-color-scheme: dark) or (prefers-color-scheme: no-preference) {
	body {
		background-color: #181a1c;
		color: lightgray;
	}
}

.avaya-logo {
	display: block;
	margin: 25vh auto 0;
}

.start-call-button {
	margin-top: 5vh;
	margin-left: 50%;
	transform: translateX(-50%) scale(2);
}

#status[sdk-ready] .start-call-button:not([disabled]) {
	display: none;
}

#status:not([sdk-ready]) .start-call-button[disabled] {
	display: none;
}

.dropdown-button {
	display: inline-block;
	margin-top: 5vh;
	margin-left: 50%;
	transform: translateX(-50%);
}

.options {
	display: none;
}

.options:not(:checked) + div {
	display: none;
}

.options + div {
	margin-left: 50%;
	transform: translateX(-50%);
}

.table {
	display: inline-grid;
	grid-template-columns: auto auto;
	gap: 1em;
}

.call-container {
	position: fixed;
	top: 8vh;
	left: 8vw;
	bottom: 8vh;
	right: 8vw;

	background-color: inherit;
	box-shadow: 0 0 1em 0 black,
	0 0 0 100vw rgba(127, 127, 127, 0.5);

	opacity: 0;
	pointer-events: none;
	transform: scale(.9);

	transition: opacity 0.2s linear, transform 0.2s ease-out;
	overflow-y: auto;
}

@media (prefers-color-scheme: dark) or (prefers-color-scheme: no-preference) {
	.call-container {
		box-shadow: 0 0 1em 0 white,
		0 0 0 100vw rgba(127, 127, 127, 0.5);
	}
}

#status[call-exists] .call-container {
	opacity: 1;
	pointer-events: inherit;
	transform: scale(1);
}

.vertical {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.horizontal {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: nowrap;
}

.user-icon {
	font-size: 40vh;
}

.dial-pad {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.dial-pad > button {
	width: 8vw;
	height: 8vh;
	line-height: 8vh;
	font-size: 6vh;
	margin: 1vh 1vw;
	text-align: center;
}

#status:not([call-established]) .dial-pad {
	visibility: hidden;
}

.call-buttons > * {
	flex-shrink: 0;
}

.end-call-button {
	min-width: 4em;
}

#status[speaker-muted] button[name=muteSpeaker] {
	display: none;
}

#status:not([speaker-muted]) button[name=unmuteSpeaker] {
	display: none;
}

#status[mic-muted] button[name=muteAudio] {
	display: none;
}

#status:not([mic-muted]) button[name=unmuteAudio] {
	display: none;
}
